upstream backend {
{% for host in groups['web_servers'] %}
    server {{ hostvars[host]['ansible_host'] }}:{{ nginx_lb_backend_port }};
{% endfor %}
}
}

server {
    listen {{ nginx_lb_listen_port }};
    server_name {{ hostvars[groups['proxy_server'][0]]['ansible_host'] }};

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
